QWidget {
    background: #ffffff;
}

QPushButton {
    color: #000000;
    border: 10px solid #000000;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

QPushButton:pressed {
    color: #ffffff;
    border: 10px solid #ffffff;
    background-color: #000000;
}

QPushButton:flat {
    color: #000000;
    border: 10px solid #000000;
    background-color: #ffffff;
}

QPushButton:default {
    color: #000000;
    border: 10px solid #000000;
    background-color: #ffffff;
}

QSlider::groove:horizontal {
    border: none;
    height: 50px;
    background: black;
    margin: 50px 0;
}

QSlider::handle:horizontal {
    border: none;
    height: 100px;
    width: 100px;
    background: black;
    margin: -50px 0;
}

QSlider::sub-page:horizontal {
    height: 50px;
    background-color: red;
    margin: 50px 0;
}
